body
{
  background:url(./images/background.png) top left;
  color:#EEE;
  margin:0px;
  padding:10px;
  font-family:Nobile, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.clear
{
  clear:both;
}

.bordered
{
  border:1px dashed #666;
}

/**
 * Error message drop down
 */

#errorMessage
{
  position:fixed;
  top:-39px;
  margin:0px auto;
  width:300px;
  height:35px;
  background:#EEE;
  border-radius:0 0 5px 5px;
  border:2px solid #FF111C;
  left:0px;
  right:0px;
  text-align:center;
  font-size:24px;
  color:#FF111C;
  z-index:100;
  font-family:Oswald, Georgia, 'Times New Roman', Times, serif;
}

@-webkit-keyframes show
{
0% {top:-39px;}
25% {top:-2px;}
75% {top:-2px;}
100% {top:-39px;}
}

/**
 * Main page wrapper, centers the page.
 */

#page
{
  width:916px;
  margin:0px auto;
}

/**
 * Header elements.
 */

#header
{
  float:left;
  font-family:Oswald, Georgia, 'Times New Roman', Times, serif;
  font-size:32px;
}

/**
 * Server connection form.
 */

#connection
{
  padding:8px 0;
  float:right;
}

input[type="text"]
{
  font-family:Nobile, Arial, Helvetica, sans-serif;
  font-size:16px;
  padding:0 10px 2px 10px;
  background:#EEE;
  border:solid 1px #EDEDED;
  width:140px;
  outline:none;
  margin:0 4px 0 0
}

input[type="text"]:focus
{
  border:solid 1px #22A509;
}

#wrapper
{
  background-color:#2E2E2E;
  border-radius:0 0 15px 15px;
  padding:8px;
}

/**
 * Connect/disconnect button
 */

input[type="button"]
{
  background-color:#EEE;
  border:1px solid #DEDEDE;
  width:100px;
  font-family:Oswald, Georgia, 'Times New Roman', Times, serif;
  font-size:16px;
  text-decoration:none;
  cursor:pointer;
  vertical-align:bottom;
  height:29px;
}

input[type="button"].connect
{
  color:#22A509;
}

input[type="button"].connect:hover
{
  background:#DCEFD7;
  border:1px solid #22A509;
  color:#22A509;
}

input[type="button"].connect:active
{
  background-color:#22A509;
  border:1px solid #22A509;
  color:#DDD;
}

input[type="button"].disconnect
{
  color:#FF111C;
}

input[type="button"].disconnect:hover
{
  color:#FF111C;
  background:#FFD7D9;
  border:1px solid #FF111C;
}

input[type="button"].disconnect:active
{
  background-color:#FF111C;
  border:1px solid #FF111C;
  color:#DDD;
}

/**
 * Connection status indicator.
 */

#status
{
  width:24px;
  height:24px;
  background:url(images/status.png) no-repeat;
  float:right;
  margin:12px 5px 0 0;
}

#status.disconnected
{
  background-position-x:0px;
}

#status.connecting
{
  background-position-x:-24px;
}

#status.connected
{
  background-position-x:-48px;
}

/**
 * Player selection tabs.
 */

.tab
{
  float:left;
  list-style:none;
  padding:0;
  margin:16px 0 0 0;
  line-height:24px;
}

.tab li
{
  margin:0 3px 0 0;
  padding:0 10px;
  border:1px solid #4E4E4E;
  border-radius:5px 5px 0 0;
  background:#4E4E4E;
  display: inline-block;
}

.tab li.selected
{
  border:1px solid #2E2E2E;
  border-radius:5px 5px 0 0;
  background:#2E2E2E;
}

.tab li:hover
{
  cursor:pointer;
}

/**
 * Canvas showing the game pad.
 */

#gamepadWrapper
{
  position:relative;
  height:578px;
} 
 
canvas
{
  position:absolute;
  left:0;
  top:0;
  padding:0;
}

#overlay
{
  position:absolute;
  left:0;
  top:0;
  padding:0;
  width:100%;
  z-index:2;
}

#showValues
{
  position:absolute;
  right:0px;
  top:16px;
  padding:0 6px 0 0;
  background:#666;
  border-radius:6px 0 0 6px;
  border-left:1px solid #333;
  border-top:1px solid #333;
  border-bottom:1px solid #333;
}

input[type="checkbox"]
{
  margin:3px 3px 3px 8px;
  vertical-align:bottom;
}

.thumbstick
{
  position:absolute;
  background:#666;
  padding:4px;
  border-radius:4px;
  border:1px solid #333;
  width:100px;
}

.trigger
{
  position:absolute;
  background:#666;
  padding:2px;
  border-radius:4px;
  border:1px solid #333;
  width:50px;
}

.valueHeader
{
  text-align:center;
  font-family:Oswald, Georgia, 'Times New Roman', Times, serif;
  border-bottom:1px solid #EEE;
}

.thumbstickValue
{
  margin:0px 32px;
  width:100%;
}

.triggerValue
{
  text-align:center;
}

#leftThumbstick
{
  left:200px;
  top:450px;
}

#rightThumbstick
{
  right:200px;
  top:450px;
}

#leftTrigger
{
  left:8px;
  top:320px;
}

#rightTrigger
{
  right:8px;
  top:320px;
}

/**
 * Sliders for vibration control.
 */

.motor
{
  width:440px;
  padding:4px;
}

input[type="range"]
{
  width:440px;
  margin:0px;
}

#leftMotor
{
  float:left;
}

#rightMotor
{
  float:right;
}

/**
 * Footer area.
 */
 
#footer
{
  padding:4px 20px;
  height:60px;
}

#copyright
{
  float:left;
  text-align:left;
  margin-top:20px;
}

#dart-logo
{
  float:right;
  width:115px;
  height:50px;
  background-image:url('images/dart.png');
}
